<nav class="navbar mb-5 navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="home">home</a>
        </li>
      </ul>

<div class="icon d-flex justify-content-between ms-auto mx-5">
  <a routerLink="cart">
    <i class="fas fa-shopping-cart"></i>
  </a>
  <p class="pt-2">{{onTCard}}</p>
</div>
    </div>
  </nav>
