*{
    padding: 0;
    margin: 0;
}

$mainColor:#38c0ed;
$secondColor:#c1dbe6;
$headers:rgb(106, 107, 107);
$paragfs:rgb(194, 196, 196);
a{
    cursor: pointer;
    text-decoration: none;
    color:black
}
a h4{
    color: $mainColor
}
body{
    background: $secondColor;

}
.card-body{
    width: 90%;
    height:350px
}

.w{
    width:40%
}
.m{
    margin-left: 15px ;
    margin-top: 3px ;
}